<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container style="height: 100vh;">

	<!-- A sidebar -->
	<ng-sidebar [(opened)]="opened" position="right">

        <!--button class="demo-control" (click)="toggleSidebar()">Close sidebar</button-->
        <button (click)="toggleSidebar()">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <title>
              close
            </title><g fill="#d33">
            <path d="M4.34 2.93l12.73 12.73-1.41 1.41L2.93 4.35z"/>
            <path d="M17.07 4.34L4.34 17.07l-1.41-1.41L15.66 2.93z"/>
          </g></svg>
        </button>
        <p><a closeSidebar>This will close the sidebar too</a></p>

        <hr>

        <p>Throwup on your pillow.</p>
        <p>Steal the warm chair right after you get up.</p>
        <p>Use lap as chair hide head under blanket.</p>
        <p>Walk on car leaving trail of paw prints on hood.</p>
        <p>Steal the warm chair right after you get up.</p>
		<ul>
			<li>Menu Item</li>
			<li>Menu Item</li>
			<li>Menu Item</li>
    </ul>
    
    
	</ng-sidebar>

	<!-- Page content -->
	<div ng-sidebar-content>		
		<header class="demo-header">
      <!--button (click)="toggleSidebar()" class="demo-header__toggle">Menu</button-->
      <span>Planner</span>
      <div style="flex: 2;"></div>
      <button (click)="toggleSidebar()" class="demo-header__toggle">Menu</button>
    </header>
	</div>

</ng-sidebar-container>